.form {
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	max-width: 230px;
}

.form button {
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #E74C3C;
	color: #FFF;
	font-weight: 700;
	padding: 8px;
}

.form button:hover {
	background-color: #B03A2E;
}